<div class="container h-100 my-auto">


     
  <div class="d-flex my-5 align-items-center justify-content-center">
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      
      <input hidden formControlName="userId" required>
    
  
      <mat-form-field class="w-100" MatFormFieldControl appearance="fill">
        <input matInput formControlName="userName" placeholder="ชื่อนามสกุล" required>
      </mat-form-field>
    
       <mat-form-field class="w-100" MatFormFieldControl appearance="fill">
         <input matInput type="number" ngModel minlength="10" maxlength="10" formControlName="userPhoneNumber" placeholder="หมายเลขโทรศัพท์" required>
       </mat-form-field>
  
  
       <div class="form-group">
         <button  mat-raised-button   class="w-100" color="primary" type="submit">Update</button>
       </div>
  
     </form>
  </div>
 


  

</div>