

<section #profile class="text-center pt-5" id="profile">
    <img #picutreUrl style="height: 80px; width: 80px;" class="p-0 border-0 img-thumbnail rounded-circle mx-auto" id="pictureUrl" src="" />

    <div *ngFor="let user of Users; let i = index; ">
      <ng-container *ngIf="tokenUserId == user.userId">
       
      </ng-container>
    </div>
    
      <div class="container text-start pt-3">
        <div *ngFor="let user of Users; let i = index; let last = last; ">

         

          <ng-container *ngIf=" tokenUserId == user.userId">
            <div class="d-flex">
              <p><strong>Name: </strong>{{user.userName}}</p>  <span class="material-icons ms-auto" routerLink="/edit-user/{{user._id}}" >mode_edit</span>
            </div>
            <p><strong>Phone Number: </strong> {{user.userPhoneNumber}}</p>
          </ng-container>
        </div>
        <!-- <p #displayName id="displayName"></p> -->
        <p #email id="email"></p>
    
      </div>

  
</section>

