
<div class="container">

    <div class="text-center">
      <img  style="height: 80px; width: 80px;" class="p-0 my-5 border-0 img-thumbnail rounded-circle mx-auto" src="{{profile.pictureUrl}}" />
    </div>

    <div class="row justify-content-center ">
      
      <div class="col-md-4">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <input  #userId id="userId" hidden class="form-control"  type="text" formControlName="userId" required>
          </div>
          <div class="form-group">
            <input  #userEmail id="userEmail" hidden class="form-control"  type="text" formControlName="userEmail" >
          </div>


          <mat-form-field MatFormField Control class="w-100 example-full-width" appearance="fill">
            <mat-label>ชื่อนามสกุล</mat-label>
            <input matInput type="text" formControlName="userName" required>
          </mat-form-field>
        
          <mat-form-field MatFormFieldControl class="w-100" appearance="fill">
            <mat-label>หมายเลขโทรศัพท์</mat-label>
            <input matInput type="tel" minlength="10" maxlength="10" formControlName="userPhoneNumber" required>
          </mat-form-field>


          <div class="form-group">
            <input #userOtpToken type="text" class="form-control" hidden  formControlName="userOtpToken" >
          </div>
     
     
            <div class="form-group">
              <button  mat-raised-button  class="w-100"   color="primary" type="submit">สมัคร</button>
            </div>

            
          </form>
      </div>
    </div>
    </div>