<mat-spinner class="mx-auto my-5 py-5" *ngIf="!isLoading"></mat-spinner>

<div *ngIf="isLoading" id="signupForm" #signupForm class="container">
  <!-- <div class="text-center">
      <img  style="height: 80px; width: 80px;" class="p-0 my-5 border-0 img-thumbnail rounded-circle mx-auto" src="{{profile.pictureUrl}}" />
    </div> -->

  <div class="row justify-content-center mt-4">
    <div class="col-md-4">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input #userId id="userId" hidden class="form-control" type="text" formControlName="userId" required />
        </div>
        <div class="form-group">
          <input #userEmail id="userEmail" hidden class="form-control" type="text" formControlName="userEmail" />
        </div>

        <mat-form-field MatFormField Control class="w-100 example-full-width" appearance="fill">
          <mat-label>ชื่อนามสกุล</mat-label>
          <input matInput type="text" formControlName="userName" required />
        </mat-form-field>

        <mat-form-field MatFormFieldControl class="p-0 w-100" appearance="fill">
          <mat-label>หมายเลขโทรศัพท์</mat-label>
          <input matInput class="p-0" type="tel" minlength="10" maxlength="10" formControlName="userPhoneNumber" required />
        </mat-form-field>
        <small id="phoneError" class="text-danger" #phoneError> เบอร์โทรศัพท์อยู่ในระบบแล้ว </small>

        <div class="form-group">
          <button mat-raised-button type="button" #popupbtn id="popupbtn" color="primary" class="w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">สมัคร</button>
        </div>
        <input class="p-0" type="text" [(ngModel)]="this.saveUsername" hidden formControlName="userConsent" />

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title m-0">ข้อมูลคำยินยอม</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="consent-content">
                  <p>
                    จึ๊กเก๊ะฟอร์มคอร์สเยอบีร่า อัลบั้ม มาราธอนซิ่งครัวซองแบด เดี้ยงเซ็นเตอร์ โปรเจ็คละอ่อนเปียโน รีทัชแคชเชียร์ติ๋มกษัตริยาธิราช ลาตินบู๊เอสเปรสโซ เวิร์คซิมโฟนี่เรซิ่น โบกี้โครนา พฤหัสโฮปคอนแทคปอดแหก บอยคอตต์เซอร์วิสลิมิตฮิบรูเดี้ยง พรีเมียร์รากหญ้าสติ๊กเกอร์หลวงปู่ ไรเฟิลโค้กติงต๊องออร์แกน วิกไฮไลท์ อะ แมคเคอเรลอริยสงฆ์ฮิบรู อินดอร์ สุนทรีย์ ออร์แกนิกแกงค์เอนทรานซ์โคโยตีออดิชั่น เวณิกา ปอดแหกซังเตเมคอัพฟอยล์ไฟลท์ พิซซ่า วิน วิลล์แคมปัส อิเลียด ปิยมิตรฮัลโลวีนแชมปิยองคันยิ ชัตเตอร์ โฮป แชเชือนยะเยือกอาว์ดีพาร์ทเมนท์เซ็นเตอร์ ตัวตนอีโรติก สามแยก พาสปอร์ตเพทนาการสเตชั่น ฮิปโปแอ๊บแบ๊ว จิตเภทไทม์ เป่ายิงฉุบ ศากยบุตรพาสตาเยอร์บีรา ดีมานด์แพนงเชิญโลชั่นกลาสยอมรับ อิเลียดละอ่อนแซนด์วิชเจ๊กลาส พ่อค้าซูเปอร์เพลซตู้เซฟอุปการคุณ ผิดพลาด แครกเกอร์กราวนด์ แอปเปิลโปรเจ็ค แคมเปญสปอต
                    ไฮกุนิว เพทนาการเยอบีร่าทัวริสต์พาสเจอร์ไรส์ ฮอตดอก ทอล์คโอเปร่า เพนตากอนฮาร์ดแชเชือนปักขคณนาแบนเนอร์ รายชื่อ คอร์สสมาพันธ์พาเหรด สตาร์ทวาไรตี้คอร์ปออร์แกนิก วอล์คทรูเทวาพุทโธ กฤษณ์สมาพันธ์ สุนทรีย์แอร์ ตัวตน นินจาเวสต์สแตนเลส เพลซพีเรียดแชมพูเนิร์สเซอรี ซื่อบื้ออัลบัมศึกษาศาสตร์ ไฟต์โหลนวิดีโอ เวิร์ก กู๋เอสเปรสโซ โหงวเฮ้ง กิมจิกาญจนาภิเษกม็อบตังค์ ดีเจหลวงปู่สเต็ปแซ็ก พุทธศตวรรษลาตินฟอร์มบาร์บี้แจม เฟอร์นิเจอร์เจี๊ยวสมิติเวชเซลส์ ฟีดบอยคอตต์อิกัวนาเอสเพรสโซสแตนเลส พันธุวิศวกรรมพะเรอ ไบเบิลเปเปอร์เฟิร์มคอลัมน์ สวีทนาฏยศาลาผลักดันแจ๊กพ็อตคันธาระ มุมมองเอเซีย เดโม สเตริโอบูติก แอดมิชชั่นวอฟเฟิลคอร์ปอเรชั่น แชมเปญฮ็อตด็อกยังไงซื่อบื้อ จิตเภทมวลชนซูชิเต๊ะสแตนเลส สตรอเบอร์รีรีทัชหล่อฮังก้วย มิลค์แซลมอน พุทโธแอดมิชชั่นป่าไม้เบนโล ศิลปวัฒนธรรมคณาญาติจัมโบ้
                  </p>

                  <mat-checkbox #saveUserNameCheckBox id="saveUserNameCheckBox" color="primary" type="checkbox" [checked]="saveUsername" (change)="onSaveUsernameChanged(saveUserNameCheckBox.checked)">ตกลง</mat-checkbox>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary">Close</button>
                  <button mat-raised-button color="primary" data-bs-dismiss="modal" (click)="onSubmit()" [disabled]="!saveUsername">ต่อไป</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="otpform" #otpform class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <form [formGroup]="otpForm" (ngSubmit)="otpSubmit()">
        <mat-form-field MatFormField Control class="w-100 example-full-width" appearance="fill">
          <mat-label>OTP</mat-label>
          <input matInput type="number" formControlName="otpConfirm" required />
        </mat-form-field>
        <p class="text-muted">OTP Referance ID : {{ this.setPin }}</p>
        <div class="form-group">
          <button mat-raised-button class="w-100" color="primary" type="submit">ยืนยัน</button>
        </div>
      </form>
    </div>
  </div>
</div>
