<mat-spinner class="mx-auto my-5 py-5" *ngIf="!isLoading"></mat-spinner>

<div *ngIf="isLoading" id="signupForm" #signupForm class="container">
  <!-- <div class="text-center">
      <img  style="height: 80px; width: 80px;" class="p-0 my-5 border-0 img-thumbnail rounded-circle mx-auto" src="{{profile.pictureUrl}}" />
    </div> -->

  <div class="row justify-content-center mt-4">
    <div class="col-md-4">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input #userId id="userId" hidden class="form-control" type="text" formControlName="userId" required />
        </div>
        <div class="form-group">
          <input #userEmail id="userEmail" hidden class="form-control" type="text" formControlName="userEmail" />
        </div>

        <mat-form-field MatFormField Control class="w-100 example-full-width" appearance="fill">
          <mat-label>ชื่อนามสกุล</mat-label>
          <input matInput type="text" formControlName="userName" required />
        </mat-form-field>

        <mat-form-field MatFormFieldControl class="p-0 w-100" appearance="fill">
          <mat-label>หมายเลขโทรศัพท์</mat-label>
          <input matInput class="p-0" type="tel" minlength="10" maxlength="10" formControlName="userPhoneNumber" required />
        </mat-form-field>
        <small id="phoneError" class="text-danger" #phoneError> เบอร์โทรศัพท์อยู่ในระบบแล้ว </small>

        <div class="form-group">
          <button mat-raised-button class="w-100" color="primary" type="submit">สมัคร</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="otpform" #otpform class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <form [formGroup]="otpForm" (ngSubmit)="otpSubmit()">
        <mat-form-field MatFormField Control class="w-100 example-full-width" appearance="fill">
          <mat-label>OTP</mat-label>
          <input matInput type="number" formControlName="otpConfirm" required />
        </mat-form-field>
        <div class="form-group">
          <button mat-raised-button class="w-100" color="primary" type="submit">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>

<button type="button" #popupbtn id="popupbtn" class="btn d-none btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch demo modal</button>
<!-- Vertically centered scrollable modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Consent</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        คอนเซปต์เอ็กซ์เพรสหงวนสติกเกอร์ พาวเวอร์ภควัทคีตาภารตะเจล สตาร์ทมือถือ ปัจเจกชนจีดีพี ซาร์ดีนเจล โปรเจ็กต์ คอนแทคแฟนซี บอมบ์แซวเอ็กซ์โปไฮเทค เสกสรรค์แมชีน สเปค เยอร์บีร่าคอนแทคแจ๊กพ็อต โบกี้ยูวี อิมพีเรียลครัวซองพล็อต อ่วมโค้ก สโรชาเอาท์ดอร์จูเนียร์เปราะบาง มินท์ แชเชือนสไปเดอร์ฮวงจุ้ยราชานุญาตเทวาธิราช เพรียวบางอาข่าเมจิค คอร์ปโชห่วยเอฟเฟ็กต์ละตินแทกติค ง่าวแม็กกาซีนวาฟเฟิลเมี่ยงคำ เซฟตี้พันธุวิศวกรรมภูมิทัศน์ซ้อ เยอร์บีราเพทนาการพุทธศตวรรษ สเปคตุ๊กแรงใจโชห่วยสแตนดาร์ด คอนแท็ค ครูเสด บ็อกซ์สะบึมดิสเครดิตจูนซิลเวอร์ แมนชั่นซัพพลายบาร์บี้คลิป อุปสงค์อิกัวนาคัตเอาต์เซอร์วิส สไลด์ดิสเครดิต งี้แบ็กโฮราชานุญาต ปฏิสัมพันธ์คาร์โก้ มั้ยเยอบีร่าช็อต ยังไงอิกัวนาแอดมิสชันสติ๊กเกอร์แบ็กโฮ การันตี เอ๊าะตุ๊ดโหงวโทรโข่งแทงโก้ แอดมิสชันกรีน พล็อต ซีนกัมมันตะ ปิกอัพธรรมาซากุระราเมน ฮิต่อรอง
        หมั่นโถวอิมพีเรียลเช็ก เมจิคเทวา กลาสเบญจมบพิตร เป่ายิ้งฉุบศึกษาศาสตร์ซิตี ฟลุทพริตตี้แจมซิมโฟนีแครกเกอร์ สุนทรีย์โจ๋ จูนเพรียวบางไฮบริดเอ็นเตอร์เทนแต๋ว ตื้บคอร์สบึ้ม แครกเกอร์สะบึมส์ เพียวแอลมอนด์เดชานุภาพ เนอะอพาร์ทเมนต์เฟรชชี่คอนเซ็ปต์อินดอร์ ซิลเวอร์อีโรติกเจ๊ อ่วมคอลัมนิสต์จังโก้ ภควัมบดี ผลักดันเบอร์เกอร์บุ๋นปาสคาล อาร์พีจีเวณิกาแคมปัสโรลออนแจ็กพอต บ็อกซ์กราวนด์คันยิรีไทร์โอเพ่น แม่ค้า พาสต้า อีสเตอร์เจ๊าะแจ๊ะอิกัวนาซิ่งแอดมิชชั่น เอ๊าะพงษ์คอร์ส ซาฟารีเด้อ ทีวี บ๊วยรามาธิบดีเพียบแปร้บุ๋น ซามูไร สไปเดอร์มายาคติ เช็งเม้ง ไอเดียพันธกิจ เซ็นทรัลโมหจริตเสกสรรค์ มอบตัวโก๊ะเซอร์ศิลปากร บู๊แบรนด์แต๋วพุทโธ วันเวย์สแล็ก โอเปอเรเตอร์แจ๊กพอตภควัมปติป๋อหลอ ฮัลโลวีนแอดมิสชันม้งศิลปากร แดนเซอร์แตงกวาเรซิน แบล็คสปอตอุด้ง คอปเตอร์โทรโข่งเชฟซูเอี๋ยสะบึม สึนามิ ตัวตน
        แบรนด์เฟิร์มศิลปากรแคชเชียร์
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
