<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Image</label>
          <input type="file" #filePicker (change)="onImagePicked($event)" />
        </div>
        <div *ngIf="imagePreview !== '' && imagePreview">
          <img class="img-thumbnail" [src]="imagePreview" [alt]="bookForm.value.name" />
        </div>
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" type="text" formControlName="name" required />
        </div>

        <div class="form-group">
          <label>Price</label>
          <input class="form-control" type="text" formControlName="price" required />
        </div>

        <div class="form-group">
          <label>Description</label>
          <input class="form-control" type="text" formControlName="description" required />
        </div>

        <div class="form-group">
          <label>Details A</label>
          <textarea class="form-control" type="text" formControlName="details1" required></textarea>
        </div>

        <div class="form-group">
          <label>Details B</label>
          <textarea class="form-control" type="text" formControlName="details2" required></textarea>
        </div>

        <div class="form-group">
          <label>Details C</label>
          <textarea class="form-control" type="text" formControlName="details3" required></textarea>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">Add Product</button>
        </div>
      </form>
    </div>
  </div>
</div>
