/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table{
    td{
        border-width: 1px;
    }
    width: 100%;
    border-width: 1px;
    padding: 20px;
}